.game-board{
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(255, 230, 198);
    outline: 10px inset rgb(240, 147, 25);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.game-board img{
    width: 70px;
    height: 70px;
    padding: 2px;
    border: 1px solid rgba(240, 147, 25,0.3);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
}
.game-board .valid{
    animation: bloom 1s ease-in-out infinite; 
    border: none;
}

@keyframes bloom{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}